@import "tailwindcss";

:root {
  --background-1: rgb(195, 195, 195);
  --background-2: rgb(230, 230, 230);
  --header-1: rgb(235, 235, 235);
  --header-2: rgb(205, 205, 205);
  --foreground: rgb(0, 0, 0);
  --text: rgb(255, 255, 255);
}

@theme inline {
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: rgb(20, 20, 20);
    --background-2: rgb(55, 55, 55);
    --header-1: rgb(60, 60, 60);
    --header-2: rgb(30, 30, 30);
    --foreground: rgb(255, 255, 255);
    --text: rgb(0, 0, 0);
  }
}

body {
  background-image: linear-gradient(var(--background-1), var(--background-2));
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.all {
  top: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  height: 100vh;
}

.elements {
  flex: 1;
}

.element {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.smallInteraction, .fullscreenInteraction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallInteraction {
  width: 65%;
  height: 50%;

  input[type=submit] {
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--foreground);
    color: var(--text);
  }

  label {
    display: flex;
  }
}

.fullscreenInteraction {
  width: 100%;
  height: 100%;
}

.multipleOptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textBox {
  background-image: linear-gradient(rgb(100, 100, 100, 0.5), rgb(50, 50, 50, 0.5));
  height: 225px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 25px 75px 25px 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  .text {
    p {
      font-size: 18px;
    }

    & {
      overflow-y: auto;
    }
  }

  button {
    background-color: var(--foreground);
    color: var(--text);
  }
}

.word {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
	animation-timing-function: linear;
  animation-delay: var(--index);
	animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
	  opacity: auto;
  }
  to {
		opacity: 1;
  }
}

.codeEditorRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(25, 25, 25));
    color: white;
    font-family: monospace;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
    flex: 1;
    white-space: pre-line;
  }
}
